


@media only screen and (max-width: 990px) {
    .scroll-down-btn {
        left: 51%;
    }
    .soloi{
        text-align: center;
    }
    html{
        overflow-x: hidden;
    }
    .home_full{
        background-size: 100% 82% !important;
        height: 75vh !important;
    }

}



@media only screen and (max-width: 990px) {
    .navbar {
        justify-content: end;
        padding: 39px 10px;
    }

    .darks-logo {
        display: block;
        width: 22%;
        position: absolute;
        z-index: 999;
        left: 78px;
        top: 22px !important;
    }

    .darks-logo {
        display: block;
    }

    .white-logo {
        display: none;
    }

    .introcbhd {
        background: linear-gradient(181deg, #FFFFFF 71.93%, rgba(71, 71, 71, -1.719739) 107.58%, rgba(0, 0, 0, 0) 0.68%);

    }
}

@media only screen and (max-width: 430px) {
    .darks-logo {
        display: block;
        width: 27%;
        position: absolute;
        z-index: 999;
        left: 10px;
        top: 3px;
    }

    .darks-logo {
        display: block;
    }

    .white-logo {
        display: none;
    }
}
